<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo">Bui Chi Trung Sop's</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item active">
                <a class="nav-link" routerLink="" routerLinkActive="active"><i class="far fa-address-book"></i>Home page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product" routerLinkActive="active"><i class="far fa-clone"></i>Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product/add" routerLinkActive="active"><i class="far fa-clone"></i>Add product</a>
            </li>
           
        </ul>
    </div>
</nav>